/* Table.css */
th {
  font-family: var(--clash-display);
  font-weight: 500;
}

thead,
tr,
th,
td {
  border-color: inherit;
  border-width: 0;
}

tbody,
td,
tfoot,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  background-color: transparent !important;
}

td {
  color: white !important;
}

.table .custom-pagination {
  background-color: transparent !important;
}

.page-link {
  text-decoration: none;
  background-color: transparent !important;
  border: none !important;
  color: white !important;
  border-radius: 8px !important;
}

.page-link:active {
  background-color: #2b2d32 !important;
  border-radius: 10px !important;
  box-shadow: none !important;
}

.page-link:hover {
  background: #2b2d32 !important;
  border-radius: 10px !important;
  box-shadow: none !important;
}

.page-link:focus {
  box-shadow: none !important;
}

button.edit-button.btn.btn-primary {
  background-color: #1d1b20cc !important;
  border: none;
}

button.edit-button.btn.btn-primary:hover {
  background-color: #00b7461a !important;
  border: none;
}

button.delete-button.btn.btn-primary {
  background-color: #1d1b20cc !important;
  border: none;
}

button.delete-button.btn.btn-primary:hover {
  background: #CF66791A !important;
  border: none;
}
.Side_background{
  background-color: #28a745; /* Green background color */
  color: #fff; /* White text color */
  border-radius: 5px; /* Button shape */
  padding: 5px 10px; /* Adjust padding as needed */
  display: inline-block;
}