@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('../src/Assets/Font/ClashDisplay_Complete/Fonts/Variable/ClashDisplay-Variable.ttf') 
}
:root {
  --solid-color: #121212;
  --transparent-color-4: rgba(199, 215, 248, 0.04);
  --transparent-color-8: rgba(199, 215, 248, 0.08);
  --transparent-color-14: rgba(199, 215, 248, 0.14);
  --text-color:#fff;
  --Plus-Jakarta-font: "Plus Jakarta Sans";
  --clash-display:"ClashDisplay-Variable"
}
.Plus-jakarta-text {
  color: var(--text-color);
  font-family: var(--Plus-Jakarta-font);
  font-size: 16px;
}
.clash-text {
  font-family: var(--clash-display);
  font-size: 24px;
  color: var(--text-color);
}